<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mockup</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1><a href="/">Drop je spruit</a></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search.html">Zoek</a></li>
        <li><a href="/profile.html">Profiel</a></li>
        <li><a href="/history.html">Geschiedenis</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    {{content}}
  </div>
  <footer>
    <ul>
      <li><a href="#">Vragen</a></li>
      <li><a href="#">Legaal</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <p>&copy; 2016 Drop je Spruit</p>
  </footer>
</body>
</html>